<table>
  <thead>
    <tr>
      <th>{{ "Original"|trans }}</th>
      <th>{{ "Replacement"|trans }}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, child in replacements %}
      {% if key|first != '#' %}
      <tr>
        <td>{{ child.original }}</td>
        <td>{{ child.replacement }}</td>
      </tr>
        {{ child|without('original', 'replacement') }}
      {% endif %}
    {% endfor %}
  </tbody>
</table>
